[Unit]
Description=HTTP reverse proxy 
After=network.target

[Service]
Type=simple
PIDFile=/run/charon.pid
ExecStart=/usr/local/bin/charon -p /run/charon.pid -c /etc/charon/main.conf
KillMode=mixed

[Install]
WantedBy=multi-user.target
